@model HardwareStore.Models.Product

<h1>@Model.Name</h1>
<div>
    Id: @Model.Id
</div>
<div>
    Name: @Model.Name
</div>
<div>
    Category: @Model.Category
</div>
<div>
    Subcategory: @Model.Subcategory
</div>
<div>
    Unit Price: @Model.UnitPrice
</div>
<div>
    Units in Stock: @Model.UnitsInStock
</div>
<div>
    Units Sold: @Model.UnitsSold
</div>
<div>
    Profit: @Model.ProfitYtd
</div>
<div>
    Date Added: @Model.DateAdded
</div>
<!-- TODO: Add fields for Category, Subcategory, UnitPrice, UnitsInStock, UnitsSold, ProfitYtd, DateAdded -->

<a asp-action="Index" asp-controller="Home">Home</a>