@model HardwareStore.ViewModels.HomeIndexViewModel

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Products</title>
</head>
<body>
    <h1>@Model.CurrentMessage</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Category</th>
                <th>Subcategory</th>
                <th>UnitsSold</th>

            </tr>
        </thead>
        @foreach (var product in Model.ProductSummary)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Category</td>
                <td>@product.Subcategory</td>
                <td>@product.UnitsSold</td>

                <td>
                    <a asp-action="Details" asp-route-id="@product.Id">Details</a>
                </td>
            </tr>
        }
    </table>    

    <a asp-action="Create">Add Product</a>
</body>
</html>